<h2>New transaction</h2>

<%= render "form.html", changeset: @changeset,
                        disabled: @disabled,
                        action: transaction_path(@conn, :create) %>

<%= link "Back", to: transaction_path(@conn, :index) %>
